:root{

}

body{
    background-color: black;
}

#profile-picture{
    border-radius: 100px;
    border: 3px solid white;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#headline{
    color: white;
    font-style: bold;
    text-align: center;
    margin: 4vh auto;
    font-size: 6vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#paragraph{
    color: white;
    font-style: bold;
    text-align: center;
    margin: 1vh auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3{
    font-size: 2.5vw;
}

h4{
    font-size: 1.5vw;
}

h6{
    font-size: 0.75vw;
    margin-bottom: 3vh;
}

#disclaimer{
    color: white;
    font-style: bold;
    text-align: center;
    margin: 5vh auto;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-title{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    position: absolute;
    font-size: 25px;
    bottom: 9vh;
    left: 30vw;
    right: 30vw;
}

.container{
    min-width: 99vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 10px;
}

.social-media{
    margin: 1em;
}

.other{
    margin: 1em;
}

.social{
    border-radius: 50px;
    border: 3px solid white;
    height: 5vh;
    width: auto;
}

.hobby{
    border-radius: 50px;
    border: 3px solid white;
    height: 5vh;
    width: auto;
}